<div *ngIf="summaryResult" class="summary-result">
  <div class="summary-item" *ngIf="faviconUrl">
    <img [src]="faviconUrl" alt="Favicon" width="32" height="32">
  </div>
  <div class="summary-item">
    <label>Short URL:</label>
    <span>{{summaryResult ? summaryResult.short_url : ''}}</span>
  </div>
  <div class="summary-item">
    <label>Long URL:</label>
    <span>{{summaryResult ? summaryResult.long_url : ''}}</span>
  </div>
</div>
<div *ngIf="summaryError" class="summary-error">
  <p>{{summaryError}}</p>
</div>
